*{
  margin: 0;
  padding: 0;
}
//#172D13//#D76F30//#6BB77B// топ цвета
body{
  background: #172D13;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
/* font-family: "Roboto", sans-serif; */
.wrapper{
  width: 1250px;
  margin: 50px auto;
}
